.TPWL-wl_content {
    height: 100vh;
    margin: auto !important;
    display: table;
}

.TPWL-wl_content.TPWL_widget--l,
.TPWL-wl_content.TPWL_widget--m,
.TPWL-wl_content.TPWL_widget--s {
    padding-top: 60px !important;
}

@media (min-width: 576px) {
    .TPWL-template-wrapper {
        width: 60vw !important;
    }
}

.TPWL-template-header {
    background: none !important;
}

.TPWL-template-header-content {
    max-width: 1024px;
}

.TPWL-widget.user-settings {
    display: none;
}