.background-blue,
.background_wrapper {
    height: 88vh;
    min-height: 590px;
    max-height: 861px;
}
.background-blue {
    position: relative;
    overflow-y: hidden;
    box-sizing: border-box;
    border-bottom: 10px solid #fff;
    background-color: #0bb8dc;
    background-image: linear-gradient(0deg,#17c6e2 0,#1da8e0 100%);
}

.layer {
    position: absolute;
    right: 0;
    bottom: -22px;
    left: 0;
    width: 1162px;
    height: 413px;
    margin: 0 auto;
    transition: bottom .26s ease-in-out;
    background-repeat: no-repeat
}
@media screen and (min-width: 1024px) and (max-width: 1249px),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .layer {
        width: 920px;
        height: 335px;
        background-size: 795px 322px
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .layer {
        width: 700px;
        height: 254px;
        background-size: 606px 234px
    }
}
.layer.layer-frontside {
    z-index: 1;
    background-image: url(https://res.cloudinary.com/http-www-tripgeorgia-ru/image/upload/v1465756097/front_wkej7u.svg)
}
.layer.layer-beside {
    z-index: 0;
    background-image: url(https://res.cloudinary.com/http-www-tripgeorgia-ru/image/upload/v1465756097/back_kauoub.svg);
    background-position: 84px 33px
}
.icon-down-please {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    left: 0;
    width: 65px;
    height: 32px;
    margin: 0 auto;
    cursor:pointer;
}

.icon-down-please {
    background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2265%22%20height%3D%2232%22%20viewBox%3D%220%200%2065%2032%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%23FFF%22%20cx%3D%2232.5%22%20cy%3D%2232.5%22%20r%3D%2232.5%22%2F%3E%3Cpath%20d%3D%22M41%2017.597L39.475%2016%2032%2023.82%2024.525%2016%2023%2017.597%2031.988%2027l.012-.012.012.012L41%2017.597z%22%20fill%3D%22%23000%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E) no-repeat
}
.advantages {
  height: 780px;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }
  .advantages .container {
    padding: 56px 0 0px!important; }
  .advantages__inner {
    max-width: 52%!important;
    padding: 0 13px!important; }
  .advantages__title {
    color: #fff!important;
    font-size: 40px!important;
    line-height: 50px;
    margin-bottom: 22px!important;
    text-transform: uppercase;
    text-align: left; }
  .advantages__list {
    counter-reset: headings!important;
    padding-right: 40px!important; 
}
    .advantages__list li {
      font-size: 104%!important;
      color: #fff!important;
      position: relative;
      padding: 0 0 0 52px;
      margin-bottom: 27px; 
      margin-left: -0.5em!important;
}
      .advantages__list li:before {
        counter-increment: headings!important;
        content: counter(headings, decimal)!important;
        width: 32px!important;
        height: 32px!important;
        border: 2px solid #fff!important;
        border-radius: 50%;
        color: #fff!important;
        font-size: 16px;
        line-height: 28px;
        font-weight: 500;
        text-align: center;
        position: absolute;
        left: 0;
        top: 4px; }
  .advantages__img {
    width: 560px;
    height: 737px;
    background: transparent url("../images/advantages__img-bg.png") 0 0 no-repeat;
    background-size: cover;
    position: absolute;
    left: 44%;
    bottom: 0!important; }
strong,
b {
  font-weight: bold; }

i {
  font-style: italic; }

.subtitle {
  display: block;
  font-size: 23px;
  line-height: 1.2;
  text-align: center; }

.reg {
  font-weight: 400; }

.thin {
  font-weight: 200; }
ol, ul {
  list-style: outside none none!important; }
div.promotext {
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 32%;
    background-color: rgba(0, 0, 0, 0.08);
    height: 110px;
    margin-top: 3%;
    border-radius: 102px;
    border: 3px dashed #F9C922;
}
div.promotext:hover{
    border-radius: 102px;
    border: 3px solid #F9C922;
}
div.promotext h1 {
    color: white;
    font-size: 53px;
    margin-bottom: 10px;
    padding-left: 0px;
    text-align: center;
    text-shadow: 2px 2px 8px #4a4d4e;
}
div.promotext p {
    color: white;
    font-size: 19px;
    text-align: center;
    margin-bottom: 10px;

}

div.promotext p #2 {
    color: white;
    font-size: 23px;
    text-align: center;
}